<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
  </head>

    <body>

      <div class="row">
        <div class="card-image col l6 m8 offset-m2 s12 center">
          <img class="responsive-img" src="/assets/logo.png" width="70%">
        </div>

        <div class="card col l6 m8 offset-m2 s12 left-allign">
          <div class="card-content">
            <h6 id="fonte"><strong>Quem somos ?</strong></h6>

            <p>O cursinho popular, “Cursinho Pré-Universitário Psico-USP”, nasceu com a clara intenção de democratização do espaço público. 
              Seus principais objetivos, descritos em seu Projeto Político-Pedagógico, são: levar aos jovens e adultos de camadas populares uma extensão dos conhecimentos produzidos pela universidade, 
              aumentar as chances de entrada e permanência desses estudantes nas universidades públicas, bem como oferecer uma formação crítica sobre os deveres e direitos dos cidadãos.</p>

            <p>Idealizado e coordenado por estudantes de psicologia, este projeto existe desde o ano de 1998 nas instalações do Instituto de Psicologia da Universidade de São Paulo (IPUSP). 
              Funciona em seu bloco didático e oferece aulas e outros serviços no período da noite – quando o prédio encontra-se ocioso pela ausência de curso noturno de graduação em psicologia.</p>

            <p>Nos últimos anos, um dos objetivos dos universitários responsáveis pelo projeto tem sido a busca de fundos que reconheçam seu caráter de extensão universitária e 
              possibilitem a gratuidade dos serviços à sociedade. Contamos atualmente no Instituto de Psicologia com o reconhecimento da legitimidade desse projeto social.</p>

            <p>O Cursinho Pré-Universitário Psico-USP tem atendido especialmente a classe trabalhadora, diferenciando-se da imensa rede de cursinhos comerciais existentes, nos quais o público alvo é, 
              em sua maioria, composto por estudantes recém-formados no Ensino Médio em escolas particulares. São acolhidos no Cursinho Pré-Universitário Psico-USP estudantes com trajetórias de vida as mais distintas: 
              há os recém-formados no Ensino Médio, aqueles que se encontram afastados dos seus estudos por um período de tempo mais longo, trabalhadores, desempregados, ou seja, estudantes das mais variadas idades. 
              Seu público é selecionado a partir de entrevistas sócio-econômicas, tendo como principais critérios a faixa de renda familiar e a formação em escolas públicas. E para fortalecer as possibilidades de ingresso na faculdade, 
              o cursinho procura oferecer uma educação preparatória de boa qualidade, criando estratégias para superar algumas dificuldades básicas, fixando conteúdos pendentes, revisando e exercitando as matérias do Ensino Médio. 
              De forma geral, trata-se de uma instituição alternativa ao modelo vigente nos cursinhos comerciais, que possibilita condição de ingresso no ensino superior àqueles que tiveram uma experiência educacional precária, sobretudo pública.</p>

            <p>Além disso, o cursinho também oferece informações que estimulam a reflexão sobre os diferentes cursos superiores, as faculdades e as carreiras, colaborando para escolhas mais conscientizadas e um menor índice de abandono dos cursos. 
              Além das aulas regulares, estão incluídas na grade horária atividades que buscam promover a reflexão sócio-política e estão embasadas no Projeto Político Pedagógico, contemplando a preocupação com a formação crítica dos estudantes, buscando ampliar, 
              estimular e tornar habituais a discussão e a luta contra as desigualdades sociais, raciais e de gênero. Tudo isso vem sendo trabalhado por meio da desnaturalização dos acontecimentos, do resgate histórico e do debate de algumas questões como a discriminação, 
              a exclusão de direitos, a participação política e a própria existência de vestibulares e cursinhos. 
              Medidas com as quais esperamos colaborar para a construção de visões e práticas socialmente transformadoras de todos aqueles que participam de alguma forma desse projeto.</p>
            
            <p>As aulas no cursinho abrangem todas as áreas (humanas, exatas e biológicas) e acontecem no período noturno de segunda a sexta e aos sábados de manhã. A secretaria do cursinho funciona na sala 30 do Centro Acadêmico e as aulas acontecem no Bloco B.</p>
          </div>
        </div>
      </div>

      <div class="row container">
      <%@archives = Archive.all%>     
      <%@archives.each do |n|%> 
        <div class="col l6 s12 center-align">        
        <% if n.tipo==0%>
        <a href="/archives/<%=n.id%>/download" class="waves-effect waves-light btn-large green darken-4"><i class="material-icons left">markunread</i>Carta: Coordenação</a>
        <%end%>
        
        </div>
        <div class="col l6 s12 center-align">
        <% if n.tipo==3%>
        <a  href="/archives/<%=n.id%>/download" class="waves-effect waves-light btn-large green darken-4"><i class="material-icons left">laptop</i>Nossas propostas</a>
        <%end%>
        </div>
        <%end%>
      </div>

      <%= render partial: 'application/info_footer' %>
    </body>
</html>
