<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @apostille.description %>
</p>

<%= link_to 'Edit', edit_apostille_path(@apostille) %> |
<%= link_to 'Back', apostilles_path %>
