<html>

<body>
    <div class="row">
        <div class="card-image col l6 m8 offset-m2 s12 center">
        <img src="/assets/apoio.jpg" width="90%">
    </div>

        <div class="card col l6 m8 offset-m2 s12 center">
            <div class="card-content">
                <h6 id="fonte" class="card-title"><strong>Apoio psicológico</strong></h6>
                <p class="white-text">.</p>
                <p>O Cursinho Popular e Pré-Universitário da Psico é um projeto educacional sem fins lucrativos coordenado por estudantes do Instituto de Psicologia (IP) da Universidade de São Paulo (USP) que atendem jovens e adultos de baixa renda que desejam ingressar na Universidade.</p>
                <p>A partir do conceito de Pré-Universitário, o Cursinho oferece aos seus alunos uma forma de ensino ampla, que extrapola os limites do vestibular, levando em conta a formação política e cultural dos estudantes. Seus principais objetivos, descritos em seu Projeto Político-Pedagógico, são levar aos jovens e adultos de camadas populares uma extensão dos conhecimentos produzidos pela universidade, aumentar as chances de entrada e permanência desses estudantes nas universidades públicas, bem como oferecer uma formação crítica sobre os deveres e direitos dos cidadãos.</p>
                <p>As aulas no cursinho abrangem todas as áreas (humanas, exatas e biológicas) e acontecem no período noturno de segunda a sexta e aos sábados de manhã. A secretaria do cursinho funciona na sala 30 do Centro Acadêmico e as aulas acontecem no Bloco B.</p>
            </div>
            <div class="card-action">
                <a href="/contato" class="green-text darken-3">Contato</a>

            </div>
        </div>
        </div>

        <%= render partial: 'application/info_footer' %>
  </body>


</html>
