<html>

<body>
    <div class="card horizontal">
        <div class="card-image">
        <img src="/assets/apoio.jpg">
    </div>

        <div class="card-stacked">
            <div class="card-content">
                <h6 id="fonte" class="card-title"><strong>Apoio psicológico</strong></h6>
            </div>
            <div class="card-action">
                <a href="#">Contato</a>

            </div>
        </div>
        </div>

        <%= render partial: 'application/info_footer' %>
  </body>


</html>
