<html>

<body>
    <div class="row">
        <div class="card-image col l6 m8 offset-m2 s12 center">
        <img class="responsive-img" src="/assets/apoio.jpg" >
    </div>

        <div class="card col l6 m8 offset-m2 s12 center">
            <div class="card-content">
                <h6 id="fonte" class="card-title"><strong>Apoio Psicológico</strong></h6>
                <p class="white-text">.</p>
                <p>O Apoio Psicológico é formado por estudantes do curso de Psicologia da Universidade de São Paulo. O objetivo desta área do Cursinho da Psico é, a partir das demandas psicossociais observadas e trazidas pelo coletivo, articular atividades e espaços de acolhimento e diálogo. 
                    Além disso, busca-se ativamente o fortalecimento da rede de cursinho populares e serviços institucionais de dentro e fora da USP, desenvolvendo parcerias e realizando encaminhamentos. 
                    Alguns exemplos do desenvolvimento dessa rede, é a parceria com o CAPS Butantã e também a criação do projeto de atendimento psicológico para alunos e alunas de cursinhos populares da USP, em parceria com o Centro  Escola do Instituto de Psicologia. </p>
                <p><b>1</b>- Orientação Profissional: Realização de grupos reflexivos para a escolha profissional/carreira. Organizar atividades de cunho informativo. Promover a aproximação dos estudantes do cursinho com a realidade da vida universitária. </p>
                <p><b>2</b>- Plantão Psicológico: Realização de atendimentos psicológicos no formato de Plantão, ofertada para os alunos e as alunas do Cursinho da Psico, com a possibilidade de encaminhamentos para a rede.</p><br />
                <span class="center"><b>E-mail do apoio:</b> apoiocursinhopsi@gmail.com</span>
            </div>
            <div class="card-action">
                <a href="/contato" class="green-text darken-3">Contato</a>

            </div>
        </div>
        </div>

        <%= render partial: 'application/info_footer' %>
  </body>


</html>
