<html>
    <body>

    <div class="card horizontal">
        <div class="card-image">
        <img src="/assets/fachada.jpg">
    </div>

        <div class="card-stacked">
            <div class="card-content">
                <h6 id="fonte"><strong>Horário de Atividades</strong></h6> 
                    <ul>
                        <li> <strong>Aulas:</strong> de segunda a sexta, das 18h30 às 22h.
                        <li> <strong>TURMA ENEM:</strong> de segunda a sexta, das 19h às 22h.
                        <li> <strong>Plantão de dúvidas:</strong> de segunda a sexta, das 18h às 18h30.
                        <li> <strong>Sábados:</strong> em alguns sábados temos atividades.
                    </ul>
                <h6 id="fonte"><strong>Contatos</strong></h6> 
                    <ul>
                        <li> <strong>Telefone:</strong> (11) 94583-1356 (Claro)
                        <li> <strong>Email:</strong> cursinhopsico.secretaria@gmail.com                        
                    </ul>
                    
                
            </div>            
        </div>
        </div>

        <%= render partial: 'application/info_footer' %>

    </body>

</html>