<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
  </head>

  <body>

    <div class="col l12 m6 s0">
          <div class="card horizontal card medium">
            <div class="card-image">
              <img src="/assets/fachada.jpg">
            </div>

            <%@notices = Notice.all%>
            <div class="card-stacked">
              <div class="card-content">
                <h6 id="fonte" class="card-title"><strong>Cursinho da Psico !</strong></h6>
              <%@notices.each do |n|%>
                <h6><strong><%= n.title %></strong></h6>
                  <ul>
                    <li><%=n.notice_text%>
                  </ul>
              <%end%>
            </div>
        </div>
        </div>
    </div>
  </body>
  <%= render partial: 'application/info_footer' %>
</html>
