<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
  </head>

  <header>
    <!--<div class="col s12 s8 offset-s2 s6 offset-m3">
        <div class="card-panel green #669A84F z-depth-1 card-small">
          <div class="row valign-wrapper">
            <div class="col s6 ">
              <img src="/assets/logo.png" alt="" width="25%">
            </div>
            <div class="col s6">
              <span class="black-text">
                <a href="login" class="waves-effect orange accent-3 btn-large">Login</a>
              </span>
            </div>
          </div>
        </div>
    </div>-->

    
  </header>

  <body>

    <div class="col s12 m6">
          <div class="card horizontal card medium">
            <div class="card-image">
              <img src="/assets/capa2.png">
              <span class="card-title">Cursinho da Psico !</span>
            </div>

            <%@notices = Notice.all%>
            <div class="card-stacked">
              <div class="card-content">
              <%@notices.each do |n|%>
                <h6 id="fonte"><strong><%= n.title %></strong></h6>
                  <ul>
                    <li><%=n.notice_text%>
                  </ul>
              <%end%>
            </div>            
        </div>
        </div>
    </div>

    <%= render partial: 'application/info_footer' %>
  </body>
</html>
