<html>
  <head>
      <title> Cursinho da Psico</title>
      <meta charset="utf-8"/>
      <meta name="description" content="Descrição completa com limite de 156 caracteres"/> <!--Descrição que aparece no Goole, Yahoo-->
      <meta name="author" content="Paulo Akira"/>
  </head>

  <body>
          <div class="row">
            <div class="card-image col l6 m8 offset-m2 s12 center">
              <img src="/assets/fachada.jpg" width="80%">
            </div>
              <%@notices = Notice.all%>
              <div class="card col l6 m8 offset-m2 s12 center"
                <div class="card-content">
                <h6 id="fonte" class="card-title"><strong>Cursinho da Psico !</strong></h6>
              <%@notices.each do |n|%>
                <h6><strong><%= n.title %></strong></h6>
                  <ul>
                    <li><%=n.notice_text%>
                  </ul>
              <%end%>
                </div>
              </div>
          </div>

  </body>
  <%= render partial: 'application/info_footer' %>
</html>
