<% if @matricula_on == true %>
	<% MatriculasController.class_variable_set(:@@matricula_on, false) %>
<% else %>
	<% MatriculasController.class_variable_set(:@@matricula_on, true) %>
<% end %>

<% if @matricula_on == true %>
	<h5 id="fonte1">Matrícula Desativada</h5>
<% else %>
	<h5 id="fonte1">Matrícula Ativada</h5>
<% end %>


