<h3 id="fonte">Ativação e Desativação de Matrícula</h3>

<body>
	<% if @matricula_on == true %>
		<p>Deseja desativar a página de matrículas?</p>
		<a href="/matriculas" class="waves-effect darken green 3 accent-3 btn-large"><% @matricula_on = false %>Desativar</a>

	<% else %>
		<p>Deseja ativar a página de matrículas?</p>
		<a href="/matriculas" class="waves-effect darken green 3 accent-3 btn-large"><% @matricula_on = true %>Ativar</a>
	<% end %>
</body>


