<h3>Administradores do Cursinho</h3>

<table>
    <tbody>
        <tr>
            <th>E-Mail</th>
        </tr>
        <% @administrators.each do |administrator|  %>
            <tr>
                <td><%= administrator.email %></td>
                <td><%= link_to "Editar", edit_administrator_url(administrator) %></td>
                <td><%= link_to "Deletar", administrator, method: :delete, data: {confirm: "Tem certeza?"} %></td>
            </tr>
        <% end %>
    </tbody>
</table>