<p id="notice"><%= notice %></p>

<p>
    <strong>E-Mail</strong>
    <%= @administrator.email %>
</p>

<%= render partial: "users/user", locals: {role: @administrator} %>

<%= button_to "Voltar", administrators_path, class: "btn btn-primary", method: :get %>