<footer  class="page-footer green darken-3">
    <div class="container">
      <div class="row">
        <div class="col s12 l6">
          <h5 class="white-text">Onde estamos?</h5>
          <p class="grey-text text-lighten-4">Av. Professor Mello Moraes, 1721, São Paulo – SP</p>
        </div>
        <div class="col s12 l4 offset-l2 ">
          <h5 class="white-text">Links</h5>
          <ul>
            <h6><i class="material-icons left">local_phone</i>(11) 94583-1356</h6>
            <h6><i class="material-icons left">mail</i>cursinhopsico@gmail.com</h6>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
      © 2018 Copyright Paulo Akira & Co.
      </div>
    </div>
</footer>