<!DOCTYPE html>
<html>
  <head>
    <title>Cursinho da Psicologia - USP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="green darken-3">
      <div class="nav-wrapper">
          <span class="brand-logo center">Cursinho da Psico</span>
          <a data-target="slide-out" class="btn-floating btn-flat sidenav-trigger show-on-large">
              <i class="material-icons">menu</i>
          </a>

          <ul class="right hide-on-med-and-down">
              <li><a href="home" style="font-weight: bold;">Home</a></li>
              <li><a href="quemsomos" style="font-weight: bold;">Quem Somos</a></li>
              <li><a href="sobrenos" style="font-weight: bold;">O Projeto</a></li>
              <li><a href="trabalheconosco" style="font-weight: bold;">Trabalhe Conosco</a></li>
              <li><a href="" style="font-weight: bold;">Contatos</a></li>
          </ul>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li><a href="">Disciplinas</a></li>
        <li><a href="">Materiais</a></li>
        <% if !current_user.nil?  %>
            <li><a href="">Apostilas</a></li>
            <% if current_user.papel == 2  %>
              <hr>
              <li><a href="signup_students">Cadastrar Aluno</a></li>
              <li><a href="signup_teachers">Cadastrar Professor</a></li>
              <li><a href="signup_administrators">Cadastrar Administrador</a></li>
            <% end %>
            <hr>
            <li><a href="logout">Sair</a></li>
        <% else %>
            <hr>
            <li><a href="login">Entrar</a></li>
        <% end %>
    </ul>
    
    <%= yield %>
  </body>
</html>
