<!DOCTYPE html>
<html>
  <head>
    <title>Cursinho da Psicologia - USP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navegacao" >
      <div class="nav-wrapper green darken-3">
        <ul id="nav-mobile" class="left">
          <li><a data-target="slide-out" class="sidenav-trigger"><i class="material-icons green darken-3 hide-on-large-only">menu</i></a></li>
          <li><a href="/home" class="hide-on-med-and-down" style="font-weight: bold;">Home</a></li>
          <li><a href="/quemsomos" class="hide-on-med-and-down" style="font-weight: bold;">Quem somos?</a></li>
          <li><a class="dropdown-trigger hide-on-med-and-down" data-target="dropdown1" style="font-weight: bold;">Disciplinas<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="" class="hide-on-med-and-down" style="font-weight: bold;">Matrículas</a></li>
          <li><a href="/apoio" class="hide-on-med-and-down" style="font-weight: bold;">Apoios Psicológico</a></li>
          <li><a href="/trabalheconosco" class="hide-on-med-and-down" style="font-weight: bold;">Trabalhe Conosco</a></li>
          <li><a href="/contato" class="hide-on-med-and-down" style="font-weight: bold;">Contato</a></li>
        </ul>
        <ul id="nav-mobile" class="right">        
          <% if current_user.nil? %>
            <li><a href="/login" class="hide-on-med-and-down waves-effect orange accent-3 btn-large">Entrar</a></li>
          <% else %>
            <li><a href="/logout" class="hide-on-med-and-down waves-effect orange accent-3 btn-large">Sair</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <!--<nav class="green darken-3">
      <div class="nav-wrapper">
          <span class="brand-logo center">Cursinho da Psico</span>
          <a data-target="slide-out" class="btn-floating btn-flat sidenav-trigger show-on-large">
              <i class="material-icons">menu</i>
          </a>

          <ul class="right hide-on-med-and-down">
              <li><a href="home" style="font-weight: bold;">Home</a></li>
              <li><a href="quemsomos" style="font-weight: bold;">Quem Somos</a></li>
              <li><a href="sobrenos" style="font-weight: bold;">O Projeto</a></li>
              <li><a href="trabalheconosco" style="font-weight: bold;">Trabalhe Conosco</a></li>
              <li><a href="/contato" style="font-weight: bold;">Contatos</a></li>
          </ul>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li><a href="home">Home</a></li>
        <li><a href="quemsomos">Quem Somos</a></li>
        <li><a href="sobrenos">O Projeto</a></li>
        <li><a href="trabalheconosco">Trabalhe Conosco</a></li>
        <li><a href="">Contatos</a></li>
        <hr>
        <li><a href="">Disciplinas</a></li>
        <li><a href="">Materiais</a></li>
        <% if !current_user.nil?  %>
            <li><a href="">Apostilas</a></li>
            <% if current_user.papel == 2  %>
              <hr>
              <li><a href="signup_students">Cadastrar Aluno</a></li>
              <li><a href="signup_teachers">Cadastrar Professor</a></li>
              <li><a href="signup_administrators">Cadastrar Administrador</a></li>
            <% end %>
            <hr>
            <li><a href="logout">Sair</a></li>
        <% else %>
            <hr>
            <li><a href="login">Entrar</a></li>
        <% end %>
    </ul>-->
    
    <%= yield %>
  </body>
</html>
